@import "tailwindcss";

@plugin "daisyui";

@theme {
    /* nord theme colors */

    --color-nord-night1: #2e3440;
    --color-nord-night2: #3b4252;
    --color-nord-night3: #434c5e;
    --color-nord-night4: #4c566a;
    --color-nord-snow1: #eceff4;
    --color-nord-snow2: #e5e9f0;
    --color-nord-snow3: #d8dee9;
    --color-nord-accent: #8fbcbb;
    --color-nord-primary: #88c0d0;
    --color-nord-secondary: #81a1c1;
    --color-nord-tertiary: #5e81ac;
    --color-nord-error: #bf616a;
    --color-nord-danger: #d08770;
    --color-nord-warning: #ebcb8b;
    --color-nord-success: #a3be8c;
    --color-nord-special: #b48ead;

    --color-muted: var(--color-nord-night2);
    --color-stroke: oklch(from var(--color-muted) calc(l + 0.15) c h);
    --color-stroke-muted: oklch(from var(--color-muted) calc(l + 0.3) c h);

    --color-offblack: oklch(from var(--color-nord-night1) 5% c h);

    /* shadows */

    --color-shadow-light: --alpha(var(--color-offblack) / 5%);
    --color-shadow: --alpha(var(--color-offblack) / 10%);
    --color-shadow-dark: --alpha(var(--color-offblack) / 25%);

    --shadow-2xs: 0 1px var(--color-shadow-light);
    --shadow-xs: 0 1px 2px 0 var(--color-shadow-light);
    --shadow-sm: 0 1px 3px 0 var(--color-shadow), 0 1px 2px -1px var(--color-shadow);
    --shadow-md: 0 4px 6px -1px var(--color-shadow), 0 2px 4px -2px var(--color-shadow);
    --shadow-lg: 0 10px 15px -3px var(--color-shadow), 0 4px 6px -4px var(--color-shadow);
    --shadow-xl: 0 20px 25px -5px var(--color-shadow), 0 8px 10px -6px var(--color-shadow);
    --shadow-2xl: 0 25px 50px -12px var(--color-shadow-dark);
    --inset-shadow-2xs: inset 0 1px var(--color-shadow-light);
    --inset-shadow-xs: inset 0 1px 1px var(--color-shadow-light);
    --inset-shadow-sm: inset 0 2px 4px var(--color-shadow-light);
}

@plugin "daisyui/theme" {
    name: dark;
    default: false;
    prefersdark: true;
    color-scheme: dark;

    --luma: 20%;
    --chroma: 5%;

    --color-base-100: oklch(from var(--color-nord-night1) 29% c h);
    --color-base-200: var(--color-nord-night1);
    --color-base-300: var(--color-nord-night2);
    --color-base-content: var(--color-nord-snow1);
    --color-primary: var(--color-nord-primary);
    --color-primary-content: oklch(from var(--color-primary) var(--luma) var(--chroma) h);
    --color-secondary: var(--color-nord-secondary);
    --color-secondary-content: oklch(from var(--color-secondary) var(--luma) var(--chroma) h);
    --color-accent: var(--color-nord-accent);
    --color-accent-content: oklch(from var(--color-accent) var(--luma) var(--chroma) h);
    --color-neutral: var(--color-nord-night3);
    --color-neutral-content: var(--color-nord-snow2);
    --color-info: oklch(from var(--color-nord-tertiary) calc(l + 0.1) c calc(h + 8));
    --color-info-content: oklch(from var(--color-info) var(--luma) var(--chroma) h);
    --color-success: var(--color-nord-success);
    --color-success-content: oklch(from var(--color-success) var(--luma) var(--chroma) h);
    --color-warning: var(--color-nord-warning);
    --color-warning-content: oklch(from var(--color-warning) var(--luma) var(--chroma) h);
    --color-error: oklch(from var(--color-nord-error) calc(l + 0.1) c h);
    --color-error-content: oklch(from var(--color-error) var(--luma) var(--chroma) h);

    --color-muted: oklch(from var(--color-nord-night4) 73% 5% h);
    --color-stroke: oklch(from var(--color-muted) calc(l - 0.15) c h);
    --color-stroke-muted: oklch(from var(--color-muted) calc(l - 0.3) c h);

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 1rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: light;
    default: true;
    prefersdark: false;
    color-scheme: light;

    --luma: 99%;
    --chroma: 2%;

    --color-base-100: oklch(98% 1% 260);
    --color-base-200: var(--color-nord-snow1);
    --color-base-300: var(--color-nord-snow2);
    --color-base-content: oklch(from var(--color-nord-night1) 25% c h);
    --color-primary: oklch(from var(--color-nord-primary) calc(l - 0.25) c h);
    --color-primary-content: oklch(from var(--color-primary) var(--luma) var(--chroma) h);
    --color-secondary: oklch(from var(--color-nord-secondary) calc(l - 0.22) c h);
    --color-secondary-content: oklch(from var(--color-secondary) var(--luma) var(--chroma) h);
    --color-accent: oklch(from var(--color-nord-accent) calc(l - 0.25) c h);
    --color-accent-content: oklch(from var(--color-accent) var(--luma) var(--chroma) h);
    --color-neutral: var(--color-nord-snow3);
    --color-neutral-content: var(--color-nord-night1);
    --color-info: oklch(from var(--color-nord-tertiary) calc(l - 0.15) c calc(h + 8));
    --color-info-content: oklch(from var(--color-info) var(--luma) var(--chroma) h);
    --color-success: oklch(from var(--color-nord-success) calc(l - 0.25) c h);
    --color-success-content: oklch(from var(--color-success) var(--luma) var(--chroma) h);
    --color-warning: oklch(from var(--color-nord-warning) calc(l - 0.32) c h);
    --color-warning-content: oklch(from var(--color-warning) var(--luma) var(--chroma) h);
    --color-error: oklch(from var(--color-nord-error) calc(l - 0.15) c h);
    --color-error-content: oklch(from var(--color-error) var(--luma) var(--chroma) h);

    --color-muted: var(--color-nord-night4);
    --color-stroke: oklch(from var(--color-muted) calc(l + 0.15) c h);
    --color-stroke-muted: oklch(from var(--color-muted) calc(l + 0.3) c h);

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 1rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 1;
}

@plugin "@iconify/tailwind4" {
    prefix: "iconify";
    scale: 1.2;
    prefixes: lucide;
}
